@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background: #1e2326;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  /* don't forget to set a duration! */
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  width: 100%;
  height: 94px;
  max-width: 1024px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 10px;
}

.container .navbar ul li a {
  margin: 0 8px 0 8px;
  color: #fff;
  text-decoration: none;
}

.container .navbar ul li a:hover {
  background-color: #788c98;
}

.container .logo-img {
  width: 7rem;
  height: 7rem;
  margin-top: 10px;
}

.container .header-social a {
  width: 30px;
  height: 30px;
  color: #fff;
}

.container .header-social a .icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 10px 0 10px;
}

@media (max-width: 630px) {
  .container .navbar {
    display: none;
  }
  .container .one,
  .container .two,
  .container .three {
    background-color: #fff;
    height: 3px;
    width: 100%;
    margin: 6px auto;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .container .menu-toggle {
    width: 40px;
    height: 30px;
  }
  .container .menu-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c464c;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .menu-section.on nav {
    display: block;
  }
  .container .menu-section.on .menu-toggle {
    position: absolute;
    right: 40px;
    top: 30px;
  }
  .container .menu-section.on .menu-toggle .one {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
  }
  .container .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .container .menu-section.on .menu-toggle .three {
    -webkit-transform: rotate(-45deg) translate(8px, -7px);
            transform: rotate(-45deg) translate(8px, -7px);
  }
  .container .menu-section.on nav ul {
    text-align: center;
    display: block;
  }
  .container .menu-section.on nav ul li {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 8rem;
    display: block;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 2.5em;
  color: #333333;
  height: 60vh;
}

.banner .img-banner {
  position: absolute;
  top: 15vh;
}

.banner .img-banner img {
  width: 25vw;
}

.banner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 1em;
  max-width: 1024px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner p {
  max-width: 300px;
  font-size: 1.5rem;
  color: #757575;
}

.banner .box-2 {
  text-align: end;
}

.banner .box-2 .fa-chevron-left,
.banner .box-2 .fa-chevron-right {
  width: 1.8rem;
  height: 4.5rem;
}

.banner h1 {
  font-size: 6rem;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-curved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: 100%;
  max-width: 1024px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons-curved img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.icons-curved .curved-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

/* Media query*/
@media (max-width: 1024px) {
  .banner {
    height: 34vh;
  }
}

@media (max-width: 940px) {
  html {
    font-size: 50%;
  }
  .banner {
    height: 40vh;
  }
  .banner .img-banner {
    top: 25vh;
  }
}

@media (max-width: 860px) {
  .banner {
    height: 25vh;
  }
  .banner .img-banner {
    top: 14vh;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 425px) {
  .banner {
    font-size: 2rem;
    height: 20vh;
  }
  .banner p {
    max-width: 120px;
  }
  .banner .box-2 .fa-chevron-left,
  .banner .box-2 .fa-chevron-right {
    width: 1rem;
    height: 2.5rem;
  }
  .banner h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .banner p {
    display: none;
  }
  .banner .img-banner img {
    height: 9em;
    width: 9em;
  }
}

.arrow-down {
  width: 100%;
  margin: 0 auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1024px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .description .introduction {
  width: 100%;
  max-width: 400px;
}

.about .description .introduction h1 {
  color: #333333;
  font-size: 5em;
  margin-bottom: 0.2em;
}

.about .description .introduction h2 {
  color: #757575;
  font-size: 2.5rem;
  margin-bottom: 0.8em;
  line-height: 1.3;
  font-weight: 400;
}

.about .description .introduction p {
  font-size: 1.3rem;
  line-height: 1.4;
}

@media (max-width: 620px) {
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .person-about img {
    width: 80%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3c464c;
  height: 5em;
  color: white;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */